
@{
    ViewData["Title"] = "Emp";
}

<table>
    <tr>
        <th>EmpId</th>
        <td>@ViewBag.emp.EmpId</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@ViewBag.emp.FirstName @ViewBag.emp.LastName</td>
    </tr>
    <tr>
        <th>Salary</th>
        <td>@ViewBag.emp.Salary</td>
    </tr>
</table>

